// Colors
$blue : #60A0D8;
$red : #FF0000;
$yellow : #FFD700;
$green : #59d234;
$grey : #606060;
$white : #FFFFFF;
$black : #000000;

// Colors with opacity
$blue-opacity : #60a0d8a1;
$red-opacity : #ff0000b5;
$yellow-opacity : #ffd900b4;
$green-opacity : #59d2349a;
$grey-opacity : #6060608e;
